<div id="checkout">
    <div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">
        <table class="table table-striped ngCart cart">
            <thead>
            <tr>
                <th colspan="2"></th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Total</th>
            </tr>
            </thead>
            <tfoot>
            <tr ng-show="ngCart.getTax()">
                <td colspan="3"></td>
                <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
                <td>{{ ngCart.getTax() | currency }}</td>
            </tr>
            <tr ng-show="ngCart.getShipping()">
                <td colspan="3"></td>
                <td>Shipping:</td>
                <td>{{ ngCart.getShipping() | currency }}</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>Total:</td>
                <td>{{ ngCart.totalCost() | currency }}</td>
            </tr>
            </tfoot>
            <tbody>
            <tr ng-repeat="item in ngCart.getCart().items track by $index">
                <td width="60px"><img ng-src="{{ item.getData().image }}" class="img-responsive img-thumbnail"></img></td>
                <td>{{ item.getName() }}</td>
                <td>{{ item.getQuantity() | number }}</td>
                <td>{{ item.getPrice() | currency}}</td>
                <td>{{ item.getTotal() | currency }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary pull-left" ng-click="back()">Back</button>
        <button class="btn btn-primary pull-right" ng-click="pay()" ng-disabled="!ngCart.getTotalItems()">Pay</button>
    </div>
</div>
